selenium==4.18.1
webdriver-manager==4.0.1
undetected-chromedriver==3.5.5
fake-useragent==1.4.0
python-dotenv==1.0.1
requests==2.31.0
certifi==2024.2.2
flask==2.3.3
flask-cors==4.0.1
python-json-logger==3.3.0
schedule==1.2.0
fastapi
beautifulsoup4==4.12.2
lxml==4.9.4 